.header {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .header-container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-title {
      font-size: 2rem;
      font-weight: 600;
      display: flex;
      align-items: center;
    }

    .menu {
      display: flex;
      align-items: center;

      .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
    }
  }
}
