<mat-toolbar class="header">
  <span class="header-title">Hogwarts Explorer</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/spells">Spells</button>
  <button mat-button routerLink="/houses">Houses</button>
  <button mat-button routerLink="/characters">Characters</button>
  <button mat-button routerLink="/books">Books</button>
  <button mat-button routerLink="/movies">Movies</button>
  <button mat-button routerLink="/games">Games</button>
  <button mat-button routerLink="/other">Other</button>
</mat-toolbar>
