<div class="ingredients-list-header-container">
  <div class="ingredients-list-header-title-container">
    <app-page-header name="🧪 Ingredients"></app-page-header>
    <div class="ingredients-list-filter-container">
      <mat-form-field>
        <mat-label>Find an ingredient</mat-label>
        <input
          matInput
          type="text"
          [formControl]="nameFilter"
          (input)="onFilterChange()"
        />
      </mat-form-field>
    </div>
  </div>

  <!-- Loading state -->
  <app-loader *ngIf="isLoading"></app-loader>

  <!-- Error state -->
  <app-error-message
    *ngIf="error"
    [retryCallback]="retryLoadIngredients.bind(this)"
  ></app-error-message>

  <!-- Content state -->
  <div class="ingredients-list">
    <app-ingredient-card
      *ngFor="let ingredient of filteredIngredients"
      [ingredient]="ingredient"
    ></app-ingredient-card>
  </div>
</div>
