@use "../../../../styles/typography" as *;
@use "../../../../styles/layout" as *;

.home {
  text-align: center;
  padding: 0 1rem;

  .home-page-header {
    font-size: $h1-font-size;
    font-weight: $h1-font-weight;
    margin-bottom: $header-bottom-margin;

    .home-page-header-hogwarts {
      font-family: $font-family-header;
    }
  }

  .buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
    flex-wrap: wrap;

    button {
      font-family: $font-family-menu;
    }
  }

  .home-image {
    width: 30%;
    max-width: 600px;
    height: auto;
    margin-top: 2rem;
  }
}
