@use "../../../../styles/typography" as *;
@use "../../../../styles/layout" as *;

.home {
  text-align: center;
  padding: 4rem 1rem;

  h1 {
    font-size: $h1-font-size;
    font-weight: $h1-font-weight;
    margin-bottom: $header-bottom-margin;
  }

  .buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
    flex-wrap: wrap;
  }
}
